<a href="https://colab.research.google.com/github/sameer-malik1/AI-ML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**
It is a popular open-source Python library used for data manipulation and analysis.

In [ ]:
import pandas as pd

**Series**: One-dimensional labeled array (like a column in a spreadsheet).

In [ ]:
marks = [55,66,75,80]
subs = ["Math","Science","Physics","English"]
series = pd.Series(data=marks,index=subs,name="Student data")
series

Math       55
Science    66
Physics    75
English    80
Name: Student data, dtype: int64

In [ ]:
# Create series using dictionary
marks = {"Math":91,"Physics":80,"Stats":91}
marks_series = pd.Series(marks,name="Student data")
print(marks_series)

Math       91
Physics    80
Stats      91
Name: Student data, dtype: int64

**Series Attributes**

In [ ]:
# size
marks_series.size

3

In [ ]:
# data type
marks_series.dtype

dtype('int64')

In [ ]:
# is_unique
marks_series.is_unique

False

In [ ]:
# index -> returns the index objects
marks_series.index

Index(['Math', 'Physics', 'Stats'], dtype='object')

In [ ]:
# value -> returns the numpy array of series values
marks_series.values

array([91, 80, 91])

Converting CSV to Series

In [ ]:
ind = pd.read_csv("/content/industry.csv")
industry_series = ind.squeeze()
type(industry_series)

pandas.core.series.Series

In [ ]:
# converting more than 1 column
ind_code =pd.read_csv("/content/industry_sic.csv",index_col="SIC Code").squeeze()
ind_code

SIC Code
1110     Growing of cereals (except rice), leguminous c...
1120                                       Growing of rice
1130     Growing of vegetables and melons, roots and tu...
1140                                 Growing of sugar cane
1150                                    Growing of tobacco
                               ...
98000                        Residents property management
98100    Undifferentiated goods-producing activities of...
98200    Undifferentiated service-producing activities ...
99000    Activities of extraterritorial organizations a...
99999                                      Dormant Company
Name: Description, Length: 731, dtype: object

**Series Methods**

In [ ]:
# head and tail
ind_code.head()

ind_code.tail()

SIC Code
98000                        Residents property management
98100    Undifferentiated goods-producing activities of...
98200    Undifferentiated service-producing activities ...
99000    Activities of extraterritorial organizations a...
99999                                      Dormant Company
Name: Description, dtype: object

In [ ]:
# sample -> used to select specified samples from the series randomly
ind_code.sample(5)

SIC Code
52212    Operation of rail passenger facilities at rail...
18129                                      Printing n.e.c.
17230                      Manufacture of paper stationery
45200             Maintenance and repair of motor vehicles
20110                      Manufacture of industrial gases
Name: Description, dtype: object

In [ ]:
# value_counts()
ind_code.value_counts()

Description
Dormant Company                                                     1
Growing of cereals (except rice), leguminous crops and oil seeds    1
Growing of rice                                                     1
Growing of vegetables and melons, roots and tubers                  1
Growing of sugar cane                                               1
                                                                   ..
Growing of other perennial crops                                    1
Growing of spices, aromatic, drug and pharmaceutical crops          1
Growing of beverage crops                                           1
Growing of oleaginous fruits                                        1
Growing of other tree and bush fruits and nuts                      1
Name: count, Length: 731, dtype: int64

In [ ]:
newData = pd.read_csv("/content/industry_sic.csv",index_col="Description").squeeze()

# sort_values -> inplace -> inplace=True refers to permanent changes in the series object
newData.sort_values(ascending=False)

Description
Dormant Company                                                                    99999
Activities of extraterritorial organizations and bodies                            99000
Undifferentiated service-producing activities of private households for own use    98200
Undifferentiated goods-producing activities of private households for own use      98100
Residents property management                                                      98000
                                                                                   ...
Growing of tobacco                                                                  1150
Growing of sugar cane                                                               1140
Growing of vegetables and melons, roots and tubers                                  1130
Growing of rice                                                                     1120
Growing of cereals (except rice), leguminous crops and oil seeds                    1110
Name: SIC Code, Length: 731, dtype: int64

In [ ]:
# sort_index
newData.sort_index()

Description
Accounting and auditing activities                               69201
Activities auxiliary to financial intermediation n.e.c.          66190
Activities of agricultural holding companies                     64201
Activities of amusement parks and theme parks                    93210
Activities of business and employers membership organizations    94110
                                                                 ...
Wireless telecommunications activities                           61200
Youth hostels                                                    55202
manufacture of canvas goods, sacks, etc.                         13922
manufacture of household textiles                                13923
specialised design activities                                    74100
Name: SIC Code, Length: 731, dtype: int64

Series Math Methods

In [ ]:
# count
newData.count()

np.int64(731)

In [ ]:
# sum
newData.sum()

np.int64(32109460)

In [ ]:
# mean/median/mode
newData.mean()

np.float64(43925.38987688098)

In [ ]:
# min/max
newData.min()

1110

In [ ]:
# describe -> used to describe complete summary
newData.describe()

count      731.000000
mean     43925.389877
std      26478.315319
min       1110.000000
25%      23465.000000
50%      46120.000000
75%      64301.500000
max      99999.000000
Name: SIC Code, dtype: float64

Editing Series

In [ ]:
#changing value of specific index
newData[0] = 1111

newData[1:3] = [1112,1115]

<ipython-input-54-74088eb8ecac>:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  newData[0] = 1111

In [ ]:
# Adding index with value to Series
newData["Apna factory"] = 100001

In [ ]:
newData

Description
Growing of cereals (except rice), leguminous crops and oil seeds                     1111
Growing of rice                                                                      1112
Growing of vegetables and melons, roots and tubers                                   1115
Growing of sugar cane                                                                1140
Growing of tobacco                                                                   1150
                                                                                    ...
Undifferentiated service-producing activities of private households for own use     98200
Activities of extraterritorial organizations and bodies                             99000
Dormant Company                                                                     99999
Apna org                                                                           100000
Apna factory                                                                       100001
Name: SIC Code, Length: 733, dtype: object

In [ ]:
# between
newData[newData.between(1112,4444)]

Description
Growing of rice                                                                               1112
Growing of vegetables and melons, roots and tubers                                            1115
Growing of sugar cane                                                                         1140
Growing of tobacco                                                                            1150
Growing of fibre crops                                                                        1160
Growing of other non-perennial crops                                                          1190
Growing of grapes                                                                             1210
Growing of tropical and subtropical fruits                                                    1220
Growing of citrus fruits                                                                      1230
Growing of pome fruits and stone fruits                                                       1240
Growing of other tree and bush fruits and nuts                                                1250
Growing of oleaginous fruits                                                                  1260
Growing of beverage crops                                                                     1270
Growing of spices, aromatic, drug and pharmaceutical crops                                    1280
Growing of other perennial crops                                                              1290
Plant propagation                                                                             1300
Raising of dairy cattle                                                                       1410
Raising of other cattle and buffaloes                                                         1420
Raising of horses and other equines                                                           1430
Raising of camels and camelids                                                                1440
Raising of sheep and  goats                                                                   1450
Raising of swine/pigs                                                                         1460
Raising of poultry                                                                            1470
Raising of other animals                                                                      1490
Mixed farming                                                                                 1500
Support activities for crop production                                                        1610
Farm animal boarding and care                                                                 1621
Support activities for animal production (other than farm animal boarding and care) n.e.c.    1629
Post-harvest crop activities                                                                  1630
Seed processing for propagation                                                               1640
Hunting, trapping and related service activities                                              1700
Silviculture and other forestry activities                                                    2100
Logging                                                                                       2200
Gathering of wild growing non-wood products                                                   2300
Support services to forestry                                                                  2400
Marine fishing                                                                                3110
Freshwater fishing                                                                            3120
Marine aquaculture                                                                            3210
Freshwater aquaculture                                                                        3220
Name: SIC Code, dtype: object

In [ ]:
# clip -> used to set the min and max value of Series column
marks_series.clip(66,90)

Math       90
Physics    80
Stats      90
Name: Student data, dtype: int64

In [ ]:
# drop_duplicates
marks_series.drop_duplicates()

Math       91
Physics    80
Name: Student data, dtype: int64

In [ ]:
# duplicated -> used to check how many values are duplicated in a series
marks_series["English"] = 91
marks_series["Urdu"] = 91
marks_series.duplicated().sum()

np.int64(3)

In [ ]:
# isnull() -> returns how many missing values in a series
import numpy as np
num_series = pd.Series([1,2,np.nan,np.nan,5,6,9,np.nan])
num_series.isnull().sum()

np.int64(3)

In [ ]:
# dropna -> used to remove all the missing values from the Series
num_series.dropna()

0    1.0
1    2.0
4    5.0
5    6.0
6    9.0
dtype: float64

In [ ]:
# fillna -> used to replace the missing values with 0
num_series.fillna(0)

0    1.0
1    2.0
2    0.0
3    0.0
4    5.0
5    6.0
6    9.0
7    0.0
dtype: float64

In [ ]:
# apply
import pandas as pd
indus = pd.read_csv("/industry.csv").squeeze()
indus.apply(lambda x:x.split()[0].upper())

0                ACCOUNTING/FINANCE
1                ADVERTISING/PUBLIC
2                AEROSPACE/AVIATION
3     ARTS/ENTERTAINMENT/PUBLISHING
4                        AUTOMOTIVE
5                  BANKING/MORTGAGE
6                          BUSINESS
7                          BUSINESS
8           CLERICAL/ADMINISTRATIVE
9           CONSTRUCTION/FACILITIES
10                         CONSUMER
11                         CUSTOMER
12               EDUCATION/TRAINING
13                 ENERGY/UTILITIES
14                      ENGINEERING
15              GOVERNMENT/MILITARY
16                            GREEN
17                       HEALTHCARE
18               HOSPITALITY/TRAVEL
19                            HUMAN
20         INSTALLATION/MAINTENANCE
21                        INSURANCE
22                         INTERNET
23                              JOB
24                              LAW
25                            LEGAL
26             MANAGEMENT/EXECUTIVE
27         MANUFACTURING/OPERATIONS
28                        MARKETING
29             NON-PROFIT/VOLUNTEER
30           PHARMACEUTICAL/BIOTECH
31                     PROFESSIONAL
32                       QA/QUALITY
33                             REAL
34                  RESTAURANT/FOOD
35                           RETAIL
36                            SALES
37                 SCIENCE/RESEARCH
38                          SKILLED
39                       TECHNOLOGY
40               TELECOMMUNICATIONS
41         TRANSPORTATION/LOGISTICS
42                            OTHER
Name: Industry, dtype: object

In [ ]:
copiedData = indus.head(10).copy()

In [ ]:
copiedData[0] = "IT solutions"

In [ ]:
copiedData

0                     IT solutions
1     Advertising/Public Relations
2               Aerospace/Aviation
3    Arts/Entertainment/Publishing
4                       Automotive
5                 Banking/Mortgage
6             Business Development
7             Business Opportunity
8          Clerical/Administrative
9          Construction/Facilities
Name: Industry, dtype: object

**DataFrame**

Two-dimensional labeled data structure (like an Excel sheet or SQL table).

In [2]:
import numpy as np
import pandas as pd

In [ ]:
# Creating a Dataframe using List
stu_data = [
    [75,90,4000],
    [85,95,6000],
    [95,98,9000],
]

df = pd.DataFrame(stu_data,columns=["IQ","Marks","Salary"])
df

   IQ  Marks  Salary
0  75     90    4000
1  85     95    6000
2  95     98    9000

In [13]:
# Creating a Dataframe using Dictionary
stu_dict = {
    "Name":["Ali","Sam","Sid"],
    "IQ":[75,85,95],
    "Marks":[90,95,98],
    "Salary":[4000,6000,9000]
}

df1 = pd.DataFrame(stu_dict)
df1.set_index("Name",inplace=True) # used to set specific colum as index of DataFrame
df1

      IQ  Marks  Salary
Name
Ali   75     90    4000
Sam   85     95    6000
Sid   95     98    9000

In [4]:
# using read_csv
df = pd.read_csv("/content/HollywoodMovies.csv")
df

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.10,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.60,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.50,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.70,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.10,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

**DataFrame Attributes and Methods**

In [ ]:
# shape ->  returns the no of rows and no of cols
df.shape

(970, 16)

In [ ]:
# dtype -> used to give the data types of all the colums
df.dtypes

Movie                object
LeadStudio           object
RottenTomatoes      float64
AudienceScore       float64
Story                object
Genre                object
TheatersOpenWeek    float64
OpeningWeekend      float64
BOAvgOpenWeekend    float64
DomesticGross       float64
ForeignGross        float64
WorldGross          float64
Budget              float64
Profitability       float64
OpenProfit          float64
Year                  int64
dtype: object

In [ ]:
# index
df.index

RangeIndex(start=0, stop=970, step=1)

In [ ]:
# columns
df.columns

Index(['Movie', 'LeadStudio', 'RottenTomatoes', 'AudienceScore', 'Story',
       'Genre', 'TheatersOpenWeek', 'OpeningWeekend', 'BOAvgOpenWeekend',
       'DomesticGross', 'ForeignGross', 'WorldGross', 'Budget',
       'Profitability', 'OpenProfit', 'Year'],
      dtype='object')

In [ ]:
# values
df.values

array([['Spider-Man 3', 'Sony', 61.0, ..., 345.3, 58.57, 2007],
       ['Shrek the Third', 'Paramount', 42.0, ..., 499.35, 76.0, 2007],
       ['Transformers', 'Paramount', 57.0, ..., 473.14, 47.0, 2007],
       ...,
       ['The English Teacher', 'Cinedigm Entertainment', 42.0, ..., nan,
        nan, 2013],
       ['John Dies at the End', 'Magnolia', 61.0, ..., 14.2, 1.0, 2013],
       ['Lovelace', 'Radius-TWC', 55.0, ..., 15.25, 1.8, 2013]],
      dtype=object)

In [ ]:
# head and tail
df.head()
df.tail()

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
960,The Iceman,Millenium Entertainment,66.0,63.0,NaN,NaN,258.0,0.09,341.0,1.97,NaN,1.97,10.0,19.69,0.90,2013
961,Girl Most Likely,Roadside Attractions,20.0,35.0,NaN,NaN,351.0,0.69,1978.0,1.38,NaN,1.38,60.0,2.30,1.15,2013
962,Wadjda,Sony,99.0,89.0,NaN,NaN,87.0,0.04,474.0,1.35,NaN,1.35,NaN,539.10,NaN,2013
963,Much Ado About Nothing,Roadside Attractions,84.0,78.0,NaN,NaN,222.0,0.17,775.0,4.33,NaN,NaN,NaN,NaN,NaN,2013
964,The Butler,Weinstein,73.0,79.0,NaN,NaN,2933.0,24.64,8400.0,116.63,51.11,167.74,30.0,559.14,82.13,2013
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

In [ ]:
# sample
df.sample(5)

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
106,The Incredible Hulk,Universal,67.0,75.0,Metamorphosis,Action,3505.0,55.14,15810.0,134.81,128.62,263.43,137.5,191.58,40.10,2008
525,Beastly,CBS,19.0,50.0,Metamorphosis,Romance,1952.0,9.85,5047.0,27.87,15.30,43.17,17.0,253.91,57.94,2011
35,The Golden Compass,Warner Bros,42.0,55.0,Rescue,Action,3528.0,25.70,7308.0,70.11,302.13,372.23,180.0,206.80,14.28,2007
166,The Secret Life of Bees,Fox,56.0,78.0,Maturation,Drama,1591.0,10.53,6617.0,37.77,2.18,39.95,11.0,363.15,95.73,2008
766,Taken 2,Fox,21.0,54.0,NaN,NaN,3661.0,49.51,13525.0,139.85,236.29,376.14,45.0,835.87,110.02,2012

In [ ]:
# info -> used to give the highlevel summary of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie             970 non-null    object
 1   LeadStudio        961 non-null    object
 2   RottenTomatoes    913 non-null    float64
 3   AudienceScore     907 non-null    float64
 4   Story             641 non-null    object
 5   Genre             691 non-null    object
 6   TheatersOpenWeek  949 non-null    float64
 7   OpeningWeekend    969 non-null    float64
 8   BOAvgOpenWeekend  945 non-null    float64
 9   DomesticGross     970 non-null    float64
 10  ForeignGross      876 non-null    float64
 11  WorldGross        914 non-null    float64
 12  Budget            897 non-null    float64
 13  Profitability     896 non-null    float64
 14  OpenProfit        895 non-null    float64
 15  Year              970 non-null    int64
dtypes: float64(11), int64(1), object(4)
memory usage: 121.4+ KB

In [ ]:
# describe
df.describe()

,RottenTomatoes,AudienceScore,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
count,913.000000,907.000000,949.000000,969.000000,945.000000,970.000000,876.000000,914.000000,897.000000,896.000000,895.000000,970.000000
mean,51.707558,61.271224,2495.246575,20.620826,8562.593651,68.162544,101.237419,169.009945,56.117168,384.620100,62.223575,2010.236082
std,26.821268,16.602457,1164.223356,25.338689,10645.135565,80.409969,155.987696,227.744380,53.755914,631.666012,159.713218,1.954840
min,0.000000,19.000000,1.000000,0.010000,28.000000,0.060000,0.000000,0.100000,0.000000,2.300000,0.160000,2007.000000
25%,28.000000,49.000000,2054.000000,5.300000,3528.000000,17.565000,16.667500,38.357500,20.000000,150.020000,19.505000,2009.000000
50%,52.000000,61.000000,2798.000000,13.150000,5983.000000,40.415000,46.655000,88.180000,35.000000,254.820000,34.610000,2010.000000
75%,75.000000,74.000000,3285.000000,26.200000,9790.000000,89.252500,111.908750,202.310000,75.000000,417.987500,58.375000,2012.000000
max,99.000000,96.000000,4468.000000,207.440000,147262.000000,760.500000,2021.000000,2781.500000,300.000000,10175.850000,3373.000000,2013.000000

In [ ]:
# isnull().sum() -> gives the no of missing values for each column
df.isnull().sum()

Movie                 0
LeadStudio            9
RottenTomatoes       57
AudienceScore        63
Story               329
Genre               279
TheatersOpenWeek     21
OpeningWeekend        1
BOAvgOpenWeekend     25
DomesticGross         0
ForeignGross         94
WorldGross           56
Budget               73
Profitability        74
OpenProfit           75
Year                  0
dtype: int64

In [ ]:
# duplicated -> returns how many duplicated values present in the rows
df.duplicated().sum()

np.int64(1)

In [ ]:
# rename
df1.rename(columns={"Marks":"Percentage","Salary":"Package"},inplace=True) # inplace refers to permanent changes
df1

   IQ  Percentage  Package
0  75          90     4000
1  85          95     6000
2  95          98     9000

Math Methods

In [ ]:
# sum
df1.sum()
df1.sum(axis=1) # row wise sum

0    4165
1    6180
2    9193
dtype: int64

In [ ]:
# mean/median/mode
df1.mean()

IQ              85.000000
Percentage      94.333333
Package       6333.333333
dtype: float64

Selecting cols from a DataFrame

In [ ]:
df1['IQ'] # single colum is called a Series
df1[['IQ',"Percentage"]] # Fetching multiple column

   IQ  Percentage
0  75          90
1  85          95
2  95          98

Selecting rows from a DataFrame

In [ ]:
# iloc -> used to search specific row using index
df.iloc[0]
df.iloc[0:5] # returns 5 rows
df.iloc[[0,4,6]] # returns specific rows as specified

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.1,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
6,The Bourne Ultimatum,Universal,93.0,91.0,Pursuit,Thriller,3660.0,69.3,18929.0,227.47,215.35,442.82,110.0,402.57,63.00,2007

In [ ]:
# loc -> searches using index label
df1.loc["Ali":"Sid"]

      IQ  Marks  Salary
Name
Ali   75     90    4000
Sid   95     98    9000

Selecting both rows and cols

In [ ]:
df1.iloc[0:2,0:2] # fetching first two rows and cols
# df1.loc[0:2,"IQ":"Marks"]

      IQ  Marks  Salary
Name
Ali   75     90    4000
Sam   85     95    6000
Sid   95     98    9000

# **Filtering a DataFrame**

In [ ]:
df.head(20)

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.6,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.5,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.7,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.1,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
5,I Am Legend,Warner Bros,69.0,69.0,Quest,Thriller,3606.0,77.2,21411.0,256.39,328.96,585.35,150.0,390.23,51.47,2007
6,The Bourne Ultimatum,Universal,93.0,91.0,Pursuit,Thriller,3660.0,69.3,18929.0,227.47,215.35,442.82,110.0,402.57,63.00,2007
7,National Treasure: Book of Secrets,Disney,31.0,72.0,The Riddle,Thriller,3832.0,44.8,11686.0,219.96,237.40,457.36,130.0,351.82,34.46,2007
8,Alvin and the Chipmunks,Fox,26.0,73.0,Comedy,Animation,3475.0,44.3,12750.0,217.33,144.01,361.34,70.0,516.19,63.29,2007
9,300,Warner Bros,60.0,90.0,Sacrifice,Action,3103.0,70.9,22844.0,210.61,245.45,456.07,65.0,701.64,109.08,2007
10,Ratatouille,Disney,97.0,84.0,Transformation,Animation,3940.0,47.0,11935.0,206.45,417.28,623.72,150.0,415.81,31.33,2007
11,The Simpsons Movie,Fox,90.0,78.0,Maturation,Comedy,3922.0,74.0,18877.0,183.14,343.94,527.07,75.0,702.76,98.67,2007
12,Wild Hogs,Disney,14.0,72.0,Transformation,Comedy,3287.0,39.7,12077.0,168.27,85.35,253.62,90.0,281.80,44.11,2007
13,Knocked Up,Universal,91.0,83.0,Love,Comedy,2871.0,30.7,10690.0,148.77,70.31,219.08,33.0,663.86,93.03,2007
14,Juno,Fox,94.0,89.0,Maturation,Comedy,1019.0,10.6,10436.0,143.50,87.92,231.41,7.5,3085.48,141.33,2007
15,Rush Hour 3,Warner Bros,20.0,68.0,Rescue,Action,3778.0,49.1,12996.0,140.13,117.90,258.02,140.0,184.30,35.07,2007
16,Live Free or Die Hard,Fox,79.0,86.0,Rescue,Action,3408.0,33.4,9791.0,134.53,249.00,383.53,110.0,348.66,30.36,2007
17,Fantastic Four: Rise of the Silver Surfer,Fox,35.0,55.0,Monster Force,Action,3959.0,58.0,14663.0,131.92,157.13,289.05,130.0,222.34,44.62,2007
18,American Gangster,Universal,79.0,87.0,pursuit,Thriller,3054.0,43.6,14264.0,130.16,136.30,266.46,100.0,266.46,43.60,2007
19,Enchanted,Disney,93.0,80.0,Love,Comedy,3730.0,34.4,9233.0,127.81,212.68,340.49,85.0,400.57,40.47,2007

In [ ]:
# find the movies list which earned profit greater than 600
mask = df["Profitability"] > 2200
filteredDf = df[mask]
filteredDf[['Movie',"Story","Genre"]] # extracted the specific columns from filtered data frame using fancy indexing

# same output in one line
df[df["Profitability"]>2200][['Movie','Story','Genre']]

                                  Movie            Story      Genre
14                                 Juno       Maturation     Comedy
105                 Slumdog Millionaire         Underdog      Crime
122  High School Musical 3: Senior Year             love     Comedy
172                           Fireproof             love      Drama
381                          Black Swan  Wretched Excess      Drama
445               Paranormal Activity 2    Monster Force     Horror
482                   The King's Speech       Maturation  Biography
484                   The Last Exorcism    Monster Force      Drama
562                           Insidious    Monster Force     Horror
584               Paranormal Activity 3    Monster Force     Horror
674                   Chernobyl Diaries              NaN        NaN
723                          Magic Mike              NaN        NaN
733               Paranormal Activity 4              NaN     Horror
760                            Sinister              NaN     Horror
779                    The Devil Inside              NaN        NaN
865                 Insidious Chapter 2              NaN        NaN
888                           The Purge              NaN        NaN
901                     A Haunted House              NaN        NaN

In [ ]:
# How many movies get the Audience Score greater than 80
df[df["AudienceScore"]>90][["Movie"]].shape[0]

22

In [ ]:
# How many movies get the Audience Score greater than 80 and its genre is comedy
df[(df["AudienceScore"]>80) & (df["Genre"] == "Comedy")][["Movie"]].shape[0]

8

In [ ]:
# how many movies earned more than 20% profit on total investment
df[(df["Profitability"] >= df["Budget"]*1.30) & (df["Profitability"] <= df["Budget"]*1.40)][['Movie',"Budget","Profitability","Year"]]

                                   Movie  Budget  Profitability  Year
0                           Spider-Man 3   258.0         345.30  2007
15                           Rush Hour 3   140.0         184.30  2007
49                           The Kingdom    80.0         108.32  2007
89               Dragon Wars (aka D-War)    75.0         100.14  2007
106                  The Incredible Hulk   137.5         191.58  2008
112                                 Bolt   150.0         206.65  2008
129  The Curious Case of Benjamin Button   160.0         208.71  2008
140                            Baby Mama    70.0          91.66  2008
222                        The Longshots    30.0          39.22  2008
458          Scott Pilgrim vs. the World    60.0          79.43  2010
500                         Tron: Legacy   170.0         235.33  2010
529                               Cars 2   200.0         279.93  2011
589                                Rango   135.0         182.02  2011
605                         Sucker Punch    82.0         109.50  2011
650                   X-Men: First Class   160.0         221.01  2011
763          Snow White and the Huntsman   170.0         233.29  2012
806                  Wrath of the Titans   150.0         203.51  2012
831                         Man of Steel   225.0         296.91  2013

In [ ]:
# how many movies which include Man in their names
df[df["Movie"].str.split(" ").apply(lambda x:"Man" in x )]

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
92,Iron Man,Paramount,94.0,91.0,Metamorphosis,Action,4105.0,98.62,24024.0,318.76,266.76,585.520,186.0,314.80,53.02,2008
119,Yes Man,Warner Bros,43.0,72.0,Transformation,Comedy,3434.0,18.26,5318.0,97.69,125.55,223.240,70.0,318.91,26.09,2008
284,"I Love You, Man",Paramount,83.0,72.0,Comedy,Comedy,2711.0,17.80,6570.0,71.40,20.20,91.400,40.0,228.50,44.50,2009
366,A Serious Man,Universal,89.0,64.0,Love,Drama,6.0,0.25,41890.0,9.23,22.20,31.430,7.0,448.99,3.57,2009
422,Iron Man 2,Paramount,74.0,80.0,Rivalry,Action,4380.0,128.10,29252.0,312.43,311.50,623.930,200.0,311.97,64.05,2010
464,Solitary Man,Independent,81.0,47.0,Wretched Excess,Comedy,4.0,0.09,23734.0,4.36,0.82,5.178,15.0,34.52,0.60,2010
724,Man on a Ledge,Summit,32.0,52.0,NaN,Action,2998.0,8.00,2669.0,18.62,27.60,46.220,42.0,110.05,19.05,2012
755,Searching for Sugar Man,Sony,NaN,NaN,NaN,NaN,3.0,0.03,9153.0,3.70,NaN,NaN,NaN,NaN,NaN,2012
823,Iron Man 3,Buena Vista,78.0,80.0,NaN,Action,4253.0,174.14,40946.0,409.01,806.43,1215.440,200.0,607.72,87.07,2013
831,Man of Steel,Warner Bros,55.0,76.0,NaN,Action,4207.0,116.62,27720.0,291.05,377.00,668.050,225.0,296.91,51.83,2013
894,The Best Man Holiday,Universal,67.0,90.0,NaN,NaN,2041.0,30.11,14751.0,70.53,1.10,71.630,17.0,421.32,177.12,2013
914,Delivery Man,Buena Vista,38.0,52.0,NaN,NaN,3036.0,7.94,2617.0,30.13,1.20,31.330,26.0,120.50,30.54,2013
931,Dead Man Down,FilmDistrict,38.0,48.0,NaN,NaN,2188.0,5.35,2443.0,10.90,7.18,18.070,NaN,NaN,NaN,2013

**Adding column to a DataFrame**

In [7]:
df["Location"] = "USA"
df

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year,Location
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.10,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007,USA
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.60,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007,USA
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.50,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007,USA
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.70,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007,USA
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.10,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013,USA
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013,USA
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013,USA
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013,USA
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013,USA

Important DataFrame methods

In [10]:
# astype -> used to reduce the size of column data type
df["AudienceScore"] = df["AudienceScore"].astype('float32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie             970 non-null    object
 1   LeadStudio        961 non-null    object
 2   RottenTomatoes    913 non-null    float64
 3   AudienceScore     907 non-null    float32
 4   Story             641 non-null    object
 5   Genre             691 non-null    object
 6   TheatersOpenWeek  949 non-null    float64
 7   OpeningWeekend    969 non-null    float64
 8   BOAvgOpenWeekend  945 non-null    float64
 9   DomesticGross     970 non-null    float64
 10  ForeignGross      876 non-null    float64
 11  WorldGross        914 non-null    float64
 12  Budget            897 non-null    float64
 13  Profitability     896 non-null    float64
 14  OpenProfit        895 non-null    float64
 15  Year              970 non-null    int64
 16  Location          970 non-null    object
dtypes: float32(1), float64(10), int64(1), object(5)
memory usage: 125.2+ KB

In [14]:
# value_counts (Series & Dataframes) -> used to return count which row is repeated
df1.value_counts()

IQ  Marks  Salary
75  90     4000      1
85  95     6000      1
95  98     9000      1
Name: count, dtype: int64

In [21]:
# sort_values() -> ascending
df.sort_values("Movie",ascending=False) # sorted based on movie names, ascending=False sorts in descending order
df.sort_values(['Year','Movie']) # sorting in ascending order based on multiple columns

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year,Location
57,30 Days of Night,Independent,50.0,57.0,Monster Force,Horror,2855.0,15.60,5587.0,39.57,35.94,75.50,32.0,235.95,48.75,2007,USA
9,300,Warner Bros,60.0,90.0,Sacrifice,Action,3103.0,70.90,22844.0,210.61,245.45,456.07,65.0,701.64,109.08,2007,USA
44,3:10 to Yuma,Lionsgate,88.0,85.0,sacrifice,Adventure,2652.0,14.00,5292.0,53.61,16.41,70.02,48.0,145.86,29.17,2007,USA
73,Across the Universe,Independent,54.0,84.0,Love,Romance,954.0,3.80,4009.0,24.34,5.02,29.37,45.0,65.26,8.44,2007,USA
53,Alien vs. Predator -- Requiem,Fox,14.0,37.0,Monster Force,Horror,2611.0,10.00,3853.0,41.80,87.09,128.88,40.0,322.21,25.00,2007,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,Walking with Dinosaurs,Fox,25.0,41.0,NaN,NaN,3243.0,7.09,2187.0,34.69,78.50,113.19,80.0,141.49,8.86,2013,USA
875,Warm Bodies,Summit,80.0,74.0,NaN,NaN,3009.0,20.35,6764.0,66.38,50.60,116.98,35.0,334.23,58.14,2013,USA
849,We're the Millers,Warner Bros,47.0,73.0,NaN,NaN,3445.0,26.42,7669.0,150.39,119.60,269.99,37.0,729.71,71.41,2013,USA
856,White House Down,Sony,50.0,63.0,NaN,NaN,3222.0,24.85,7713.0,73.10,132.26,205.37,150.0,136.91,16.57,2013,USA
834,World War Z,Paramount,67.0,73.0,NaN,NaN,3607.0,66.41,18412.0,202.36,337.65,540.01,190.0,284.21,34.95,2013,USA