<a href="https://colab.research.google.com/github/sameer-malik1/AI-ML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**
It is a popular open-source Python library used for data manipulation and analysis.

In [ ]:
import pandas as pd

**Series**: One-dimensional labeled array (like a column in a spreadsheet).

In [ ]:
marks = [55,66,75,80]
subs = ["Math","Science","Physics","English"]
series = pd.Series(data=marks,index=subs,name="Student data")
series

Math       55
Science    66
Physics    75
English    80
Name: Student data, dtype: int64

In [ ]:
# Create series using dictionary
marks = {"Math":91,"Physics":80,"Stats":91}
marks_series = pd.Series(marks,name="Student data")
print(marks_series)

Math       91
Physics    80
Stats      91
Name: Student data, dtype: int64

**Series Attributes**

In [ ]:
# size
marks_series.size

3

In [ ]:
# data type
marks_series.dtype

dtype('int64')

In [ ]:
# is_unique
marks_series.is_unique

False

In [ ]:
# index -> returns the index objects
marks_series.index

Index(['Math', 'Physics', 'Stats'], dtype='object')

In [ ]:
# value -> returns the numpy array of series values
marks_series.values

array([91, 80, 91])

Converting CSV to Series

In [ ]:
ind = pd.read_csv("/content/industry.csv")
industry_series = ind.squeeze()
type(industry_series)

pandas.core.series.Series

In [ ]:
# converting more than 1 column
ind_code =pd.read_csv("/content/industry_sic.csv",index_col="SIC Code").squeeze()
ind_code

SIC Code
1110     Growing of cereals (except rice), leguminous c...
1120                                       Growing of rice
1130     Growing of vegetables and melons, roots and tu...
1140                                 Growing of sugar cane
1150                                    Growing of tobacco
                               ...
98000                        Residents property management
98100    Undifferentiated goods-producing activities of...
98200    Undifferentiated service-producing activities ...
99000    Activities of extraterritorial organizations a...
99999                                      Dormant Company
Name: Description, Length: 731, dtype: object

**Series Methods**

In [ ]:
# head and tail
ind_code.head()

ind_code.tail()

SIC Code
98000                        Residents property management
98100    Undifferentiated goods-producing activities of...
98200    Undifferentiated service-producing activities ...
99000    Activities of extraterritorial organizations a...
99999                                      Dormant Company
Name: Description, dtype: object

In [ ]:
# sample -> used to select specified samples from the series randomly
ind_code.sample(5)

SIC Code
52212    Operation of rail passenger facilities at rail...
18129                                      Printing n.e.c.
17230                      Manufacture of paper stationery
45200             Maintenance and repair of motor vehicles
20110                      Manufacture of industrial gases
Name: Description, dtype: object

In [ ]:
# value_counts()
ind_code.value_counts()

Description
Dormant Company                                                     1
Growing of cereals (except rice), leguminous crops and oil seeds    1
Growing of rice                                                     1
Growing of vegetables and melons, roots and tubers                  1
Growing of sugar cane                                               1
                                                                   ..
Growing of other perennial crops                                    1
Growing of spices, aromatic, drug and pharmaceutical crops          1
Growing of beverage crops                                           1
Growing of oleaginous fruits                                        1
Growing of other tree and bush fruits and nuts                      1
Name: count, Length: 731, dtype: int64

In [ ]:
newData = pd.read_csv("/content/industry_sic.csv",index_col="Description").squeeze()

# sort_values -> inplace -> inplace=True refers to permanent changes in the series object
newData.sort_values(ascending=False)

Description
Dormant Company                                                                    99999
Activities of extraterritorial organizations and bodies                            99000
Undifferentiated service-producing activities of private households for own use    98200
Undifferentiated goods-producing activities of private households for own use      98100
Residents property management                                                      98000
                                                                                   ...
Growing of tobacco                                                                  1150
Growing of sugar cane                                                               1140
Growing of vegetables and melons, roots and tubers                                  1130
Growing of rice                                                                     1120
Growing of cereals (except rice), leguminous crops and oil seeds                    1110
Name: SIC Code, Length: 731, dtype: int64

In [ ]:
# sort_index
newData.sort_index()

Description
Accounting and auditing activities                               69201
Activities auxiliary to financial intermediation n.e.c.          66190
Activities of agricultural holding companies                     64201
Activities of amusement parks and theme parks                    93210
Activities of business and employers membership organizations    94110
                                                                 ...
Wireless telecommunications activities                           61200
Youth hostels                                                    55202
manufacture of canvas goods, sacks, etc.                         13922
manufacture of household textiles                                13923
specialised design activities                                    74100
Name: SIC Code, Length: 731, dtype: int64

Series Math Methods

In [ ]:
# count
newData.count()

np.int64(731)

In [ ]:
# sum
newData.sum()

np.int64(32109460)

In [ ]:
# mean/median/mode
newData.mean()

np.float64(43925.38987688098)

In [ ]:
# min/max
newData.min()

1110

In [ ]:
# describe -> used to describe complete summary
newData.describe()

count      731.000000
mean     43925.389877
std      26478.315319
min       1110.000000
25%      23465.000000
50%      46120.000000
75%      64301.500000
max      99999.000000
Name: SIC Code, dtype: float64

Editing Series

In [ ]:
#changing value of specific index
newData[0] = 1111

newData[1:3] = [1112,1115]

<ipython-input-54-74088eb8ecac>:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  newData[0] = 1111

In [ ]:
# Adding index with value to Series
newData["Apna factory"] = 100001

In [ ]:
newData

Description
Growing of cereals (except rice), leguminous crops and oil seeds                     1111
Growing of rice                                                                      1112
Growing of vegetables and melons, roots and tubers                                   1115
Growing of sugar cane                                                                1140
Growing of tobacco                                                                   1150
                                                                                    ...
Undifferentiated service-producing activities of private households for own use     98200
Activities of extraterritorial organizations and bodies                             99000
Dormant Company                                                                     99999
Apna org                                                                           100000
Apna factory                                                                       100001
Name: SIC Code, Length: 733, dtype: object

In [ ]:
# between
newData[newData.between(1112,4444)]

Description
Growing of rice                                                                               1112
Growing of vegetables and melons, roots and tubers                                            1115
Growing of sugar cane                                                                         1140
Growing of tobacco                                                                            1150
Growing of fibre crops                                                                        1160
Growing of other non-perennial crops                                                          1190
Growing of grapes                                                                             1210
Growing of tropical and subtropical fruits                                                    1220
Growing of citrus fruits                                                                      1230
Growing of pome fruits and stone fruits                                                       1240
Growing of other tree and bush fruits and nuts                                                1250
Growing of oleaginous fruits                                                                  1260
Growing of beverage crops                                                                     1270
Growing of spices, aromatic, drug and pharmaceutical crops                                    1280
Growing of other perennial crops                                                              1290
Plant propagation                                                                             1300
Raising of dairy cattle                                                                       1410
Raising of other cattle and buffaloes                                                         1420
Raising of horses and other equines                                                           1430
Raising of camels and camelids                                                                1440
Raising of sheep and  goats                                                                   1450
Raising of swine/pigs                                                                         1460
Raising of poultry                                                                            1470
Raising of other animals                                                                      1490
Mixed farming                                                                                 1500
Support activities for crop production                                                        1610
Farm animal boarding and care                                                                 1621
Support activities for animal production (other than farm animal boarding and care) n.e.c.    1629
Post-harvest crop activities                                                                  1630
Seed processing for propagation                                                               1640
Hunting, trapping and related service activities                                              1700
Silviculture and other forestry activities                                                    2100
Logging                                                                                       2200
Gathering of wild growing non-wood products                                                   2300
Support services to forestry                                                                  2400
Marine fishing                                                                                3110
Freshwater fishing                                                                            3120
Marine aquaculture                                                                            3210
Freshwater aquaculture                                                                        3220
Name: SIC Code, dtype: object

In [ ]:
# clip -> used to set the min and max value of Series column
marks_series.clip(66,90)

Math       90
Physics    80
Stats      90
Name: Student data, dtype: int64

In [ ]:
# drop_duplicates
marks_series.drop_duplicates()

Math       91
Physics    80
Name: Student data, dtype: int64

In [ ]:
# duplicated -> used to check how many values are duplicated in a series
marks_series["English"] = 91
marks_series["Urdu"] = 91
marks_series.duplicated().sum()

np.int64(3)

In [ ]:
# isnull() -> returns how many missing values in a series
import numpy as np
num_series = pd.Series([1,2,np.nan,np.nan,5,6,9,np.nan])
num_series.isnull().sum()

np.int64(3)

In [ ]:
# dropna -> used to remove all the missing values from the Series
num_series.dropna()

0    1.0
1    2.0
4    5.0
5    6.0
6    9.0
dtype: float64

In [ ]:
# fillna -> used to replace the missing values with 0
num_series.fillna(0)

0    1.0
1    2.0
2    0.0
3    0.0
4    5.0
5    6.0
6    9.0
7    0.0
dtype: float64

In [ ]:
# apply
import pandas as pd
indus = pd.read_csv("/industry.csv").squeeze()
indus.apply(lambda x:x.split()[0].upper())

0                ACCOUNTING/FINANCE
1                ADVERTISING/PUBLIC
2                AEROSPACE/AVIATION
3     ARTS/ENTERTAINMENT/PUBLISHING
4                        AUTOMOTIVE
5                  BANKING/MORTGAGE
6                          BUSINESS
7                          BUSINESS
8           CLERICAL/ADMINISTRATIVE
9           CONSTRUCTION/FACILITIES
10                         CONSUMER
11                         CUSTOMER
12               EDUCATION/TRAINING
13                 ENERGY/UTILITIES
14                      ENGINEERING
15              GOVERNMENT/MILITARY
16                            GREEN
17                       HEALTHCARE
18               HOSPITALITY/TRAVEL
19                            HUMAN
20         INSTALLATION/MAINTENANCE
21                        INSURANCE
22                         INTERNET
23                              JOB
24                              LAW
25                            LEGAL
26             MANAGEMENT/EXECUTIVE
27         MANUFACTURING/OPERATIONS
28                        MARKETING
29             NON-PROFIT/VOLUNTEER
30           PHARMACEUTICAL/BIOTECH
31                     PROFESSIONAL
32                       QA/QUALITY
33                             REAL
34                  RESTAURANT/FOOD
35                           RETAIL
36                            SALES
37                 SCIENCE/RESEARCH
38                          SKILLED
39                       TECHNOLOGY
40               TELECOMMUNICATIONS
41         TRANSPORTATION/LOGISTICS
42                            OTHER
Name: Industry, dtype: object

In [ ]:
copiedData = indus.head(10).copy()

In [ ]:
copiedData[0] = "IT solutions"

In [ ]:
copiedData

0                     IT solutions
1     Advertising/Public Relations
2               Aerospace/Aviation
3    Arts/Entertainment/Publishing
4                       Automotive
5                 Banking/Mortgage
6             Business Development
7             Business Opportunity
8          Clerical/Administrative
9          Construction/Facilities
Name: Industry, dtype: object

**DataFrame**

Two-dimensional labeled data structure (like an Excel sheet or SQL table).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Creating a Dataframe using List
stu_data = [
    [75,90,4000],
    [85,95,6000],
    [95,98,9000],
]

df = pd.DataFrame(stu_data,columns=["IQ","Marks","Salary"])
df

   IQ  Marks  Salary
0  75     90    4000
1  85     95    6000
2  95     98    9000

In [ ]:
# Creating a Dataframe using Dictionary
stu_dict = {
    "Name":["Ali","Sam","Sid"],
    "IQ":[75,85,95],
    "Marks":[90,95,98],
    "Salary":[4000,6000,9000]
}

df1 = pd.DataFrame(stu_dict)
df1.set_index("Name",inplace=True) # used to set specific colum as index of DataFrame
df1

      IQ  Marks  Salary
Name
Ali   75     90    4000
Sam   85     95    6000
Sid   95     98    9000

In [ ]:
# using read_csv
df = pd.read_csv("/content/HollywoodMovies.csv")
df

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.10,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.60,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.50,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.70,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.10,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

**DataFrame Attributes and Methods**

In [ ]:
# shape ->  returns the no of rows and no of cols
df.shape

(970, 16)

In [ ]:
# dtype -> used to give the data types of all the colums
df.dtypes

Movie                object
LeadStudio           object
RottenTomatoes      float64
AudienceScore       float64
Story                object
Genre                object
TheatersOpenWeek    float64
OpeningWeekend      float64
BOAvgOpenWeekend    float64
DomesticGross       float64
ForeignGross        float64
WorldGross          float64
Budget              float64
Profitability       float64
OpenProfit          float64
Year                  int64
dtype: object

In [ ]:
# index
df.index

RangeIndex(start=0, stop=970, step=1)

In [ ]:
# columns
df.columns

Index(['Movie', 'LeadStudio', 'RottenTomatoes', 'AudienceScore', 'Story',
       'Genre', 'TheatersOpenWeek', 'OpeningWeekend', 'BOAvgOpenWeekend',
       'DomesticGross', 'ForeignGross', 'WorldGross', 'Budget',
       'Profitability', 'OpenProfit', 'Year'],
      dtype='object')

In [ ]:
# values
df.values

array([['Spider-Man 3', 'Sony', 61.0, ..., 345.3, 58.57, 2007],
       ['Shrek the Third', 'Paramount', 42.0, ..., 499.35, 76.0, 2007],
       ['Transformers', 'Paramount', 57.0, ..., 473.14, 47.0, 2007],
       ...,
       ['The English Teacher', 'Cinedigm Entertainment', 42.0, ..., nan,
        nan, 2013],
       ['John Dies at the End', 'Magnolia', 61.0, ..., 14.2, 1.0, 2013],
       ['Lovelace', 'Radius-TWC', 55.0, ..., 15.25, 1.8, 2013]],
      dtype=object)

In [ ]:
# head and tail
df.head()
df.tail()

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
960,The Iceman,Millenium Entertainment,66.0,63.0,NaN,NaN,258.0,0.09,341.0,1.97,NaN,1.97,10.0,19.69,0.90,2013
961,Girl Most Likely,Roadside Attractions,20.0,35.0,NaN,NaN,351.0,0.69,1978.0,1.38,NaN,1.38,60.0,2.30,1.15,2013
962,Wadjda,Sony,99.0,89.0,NaN,NaN,87.0,0.04,474.0,1.35,NaN,1.35,NaN,539.10,NaN,2013
963,Much Ado About Nothing,Roadside Attractions,84.0,78.0,NaN,NaN,222.0,0.17,775.0,4.33,NaN,NaN,NaN,NaN,NaN,2013
964,The Butler,Weinstein,73.0,79.0,NaN,NaN,2933.0,24.64,8400.0,116.63,51.11,167.74,30.0,559.14,82.13,2013
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013

In [ ]:
# sample
df.sample(5)

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
106,The Incredible Hulk,Universal,67.0,75.0,Metamorphosis,Action,3505.0,55.14,15810.0,134.81,128.62,263.43,137.5,191.58,40.10,2008
525,Beastly,CBS,19.0,50.0,Metamorphosis,Romance,1952.0,9.85,5047.0,27.87,15.30,43.17,17.0,253.91,57.94,2011
35,The Golden Compass,Warner Bros,42.0,55.0,Rescue,Action,3528.0,25.70,7308.0,70.11,302.13,372.23,180.0,206.80,14.28,2007
166,The Secret Life of Bees,Fox,56.0,78.0,Maturation,Drama,1591.0,10.53,6617.0,37.77,2.18,39.95,11.0,363.15,95.73,2008
766,Taken 2,Fox,21.0,54.0,NaN,NaN,3661.0,49.51,13525.0,139.85,236.29,376.14,45.0,835.87,110.02,2012

In [ ]:
# info -> used to give the highlevel summary of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie             970 non-null    object
 1   LeadStudio        961 non-null    object
 2   RottenTomatoes    913 non-null    float64
 3   AudienceScore     907 non-null    float64
 4   Story             641 non-null    object
 5   Genre             691 non-null    object
 6   TheatersOpenWeek  949 non-null    float64
 7   OpeningWeekend    969 non-null    float64
 8   BOAvgOpenWeekend  945 non-null    float64
 9   DomesticGross     970 non-null    float64
 10  ForeignGross      876 non-null    float64
 11  WorldGross        914 non-null    float64
 12  Budget            897 non-null    float64
 13  Profitability     896 non-null    float64
 14  OpenProfit        895 non-null    float64
 15  Year              970 non-null    int64
dtypes: float64(11), int64(1), object(4)
memory usage: 121.4+ KB

In [ ]:
# describe
df.describe()

,RottenTomatoes,AudienceScore,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
count,913.000000,907.000000,949.000000,969.000000,945.000000,970.000000,876.000000,914.000000,897.000000,896.000000,895.000000,970.000000
mean,51.707558,61.271224,2495.246575,20.620826,8562.593651,68.162544,101.237419,169.009945,56.117168,384.620100,62.223575,2010.236082
std,26.821268,16.602457,1164.223356,25.338689,10645.135565,80.409969,155.987696,227.744380,53.755914,631.666012,159.713218,1.954840
min,0.000000,19.000000,1.000000,0.010000,28.000000,0.060000,0.000000,0.100000,0.000000,2.300000,0.160000,2007.000000
25%,28.000000,49.000000,2054.000000,5.300000,3528.000000,17.565000,16.667500,38.357500,20.000000,150.020000,19.505000,2009.000000
50%,52.000000,61.000000,2798.000000,13.150000,5983.000000,40.415000,46.655000,88.180000,35.000000,254.820000,34.610000,2010.000000
75%,75.000000,74.000000,3285.000000,26.200000,9790.000000,89.252500,111.908750,202.310000,75.000000,417.987500,58.375000,2012.000000
max,99.000000,96.000000,4468.000000,207.440000,147262.000000,760.500000,2021.000000,2781.500000,300.000000,10175.850000,3373.000000,2013.000000

In [ ]:
# isnull().sum() -> gives the no of missing values for each column
df.isnull().sum()

Movie                 0
LeadStudio            9
RottenTomatoes       57
AudienceScore        63
Story               329
Genre               279
TheatersOpenWeek     21
OpeningWeekend        1
BOAvgOpenWeekend     25
DomesticGross         0
ForeignGross         94
WorldGross           56
Budget               73
Profitability        74
OpenProfit           75
Year                  0
dtype: int64

In [ ]:
# duplicated -> returns how many duplicated values present in the rows
df.duplicated().sum()

np.int64(1)

In [ ]:
# rename
df1.rename(columns={"Marks":"Percentage","Salary":"Package"},inplace=True) # inplace refers to permanent changes
df1

   IQ  Percentage  Package
0  75          90     4000
1  85          95     6000
2  95          98     9000

Math Methods

In [ ]:
# sum
df1.sum()
df1.sum(axis=1) # row wise sum

0    4165
1    6180
2    9193
dtype: int64

In [ ]:
# mean/median/mode
df1.mean()

IQ              85.000000
Percentage      94.333333
Package       6333.333333
dtype: float64

Selecting cols from a DataFrame

In [ ]:
df1['IQ'] # single colum is called a Series
df1[['IQ',"Percentage"]] # Fetching multiple column

   IQ  Percentage
0  75          90
1  85          95
2  95          98

Selecting rows from a DataFrame

In [ ]:
# iloc -> used to search specific row using index
df.iloc[0]
df.iloc[0:5] # returns 5 rows
df.iloc[[0,4,6]] # returns specific rows as specified

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.1,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
6,The Bourne Ultimatum,Universal,93.0,91.0,Pursuit,Thriller,3660.0,69.3,18929.0,227.47,215.35,442.82,110.0,402.57,63.00,2007

In [ ]:
# loc -> searches using index label
df1.loc["Ali":"Sid"]

      IQ  Marks  Salary
Name
Ali   75     90    4000
Sid   95     98    9000

Selecting both rows and cols

In [ ]:
df1.iloc[0:2,0:2] # fetching first two rows and cols
# df1.loc[0:2,"IQ":"Marks"]

      IQ  Marks  Salary
Name
Ali   75     90    4000
Sam   85     95    6000
Sid   95     98    9000

# **Filtering a DataFrame**

In [ ]:
df.head(20)

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.6,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.5,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.7,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.1,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007
5,I Am Legend,Warner Bros,69.0,69.0,Quest,Thriller,3606.0,77.2,21411.0,256.39,328.96,585.35,150.0,390.23,51.47,2007
6,The Bourne Ultimatum,Universal,93.0,91.0,Pursuit,Thriller,3660.0,69.3,18929.0,227.47,215.35,442.82,110.0,402.57,63.00,2007
7,National Treasure: Book of Secrets,Disney,31.0,72.0,The Riddle,Thriller,3832.0,44.8,11686.0,219.96,237.40,457.36,130.0,351.82,34.46,2007
8,Alvin and the Chipmunks,Fox,26.0,73.0,Comedy,Animation,3475.0,44.3,12750.0,217.33,144.01,361.34,70.0,516.19,63.29,2007
9,300,Warner Bros,60.0,90.0,Sacrifice,Action,3103.0,70.9,22844.0,210.61,245.45,456.07,65.0,701.64,109.08,2007
10,Ratatouille,Disney,97.0,84.0,Transformation,Animation,3940.0,47.0,11935.0,206.45,417.28,623.72,150.0,415.81,31.33,2007
11,The Simpsons Movie,Fox,90.0,78.0,Maturation,Comedy,3922.0,74.0,18877.0,183.14,343.94,527.07,75.0,702.76,98.67,2007
12,Wild Hogs,Disney,14.0,72.0,Transformation,Comedy,3287.0,39.7,12077.0,168.27,85.35,253.62,90.0,281.80,44.11,2007
13,Knocked Up,Universal,91.0,83.0,Love,Comedy,2871.0,30.7,10690.0,148.77,70.31,219.08,33.0,663.86,93.03,2007
14,Juno,Fox,94.0,89.0,Maturation,Comedy,1019.0,10.6,10436.0,143.50,87.92,231.41,7.5,3085.48,141.33,2007
15,Rush Hour 3,Warner Bros,20.0,68.0,Rescue,Action,3778.0,49.1,12996.0,140.13,117.90,258.02,140.0,184.30,35.07,2007
16,Live Free or Die Hard,Fox,79.0,86.0,Rescue,Action,3408.0,33.4,9791.0,134.53,249.00,383.53,110.0,348.66,30.36,2007
17,Fantastic Four: Rise of the Silver Surfer,Fox,35.0,55.0,Monster Force,Action,3959.0,58.0,14663.0,131.92,157.13,289.05,130.0,222.34,44.62,2007
18,American Gangster,Universal,79.0,87.0,pursuit,Thriller,3054.0,43.6,14264.0,130.16,136.30,266.46,100.0,266.46,43.60,2007
19,Enchanted,Disney,93.0,80.0,Love,Comedy,3730.0,34.4,9233.0,127.81,212.68,340.49,85.0,400.57,40.47,2007

In [ ]:
# find the movies list which earned profit greater than 600
mask = df["Profitability"] > 2200
filteredDf = df[mask]
filteredDf[['Movie',"Story","Genre"]] # extracted the specific columns from filtered data frame using fancy indexing

# same output in one line
df[df["Profitability"]>2200][['Movie','Story','Genre']]

                                  Movie            Story      Genre
14                                 Juno       Maturation     Comedy
105                 Slumdog Millionaire         Underdog      Crime
122  High School Musical 3: Senior Year             love     Comedy
172                           Fireproof             love      Drama
381                          Black Swan  Wretched Excess      Drama
445               Paranormal Activity 2    Monster Force     Horror
482                   The King's Speech       Maturation  Biography
484                   The Last Exorcism    Monster Force      Drama
562                           Insidious    Monster Force     Horror
584               Paranormal Activity 3    Monster Force     Horror
674                   Chernobyl Diaries              NaN        NaN
723                          Magic Mike              NaN        NaN
733               Paranormal Activity 4              NaN     Horror
760                            Sinister              NaN     Horror
779                    The Devil Inside              NaN        NaN
865                 Insidious Chapter 2              NaN        NaN
888                           The Purge              NaN        NaN
901                     A Haunted House              NaN        NaN

In [ ]:
# How many movies get the Audience Score greater than 80
df[df["AudienceScore"]>90][["Movie"]].shape[0]

22

In [ ]:
# How many movies get the Audience Score greater than 80 and its genre is comedy
df[(df["AudienceScore"]>80) & (df["Genre"] == "Comedy")][["Movie"]].shape[0]

8

In [ ]:
# how many movies earned more than 20% profit on total investment
df[(df["Profitability"] >= df["Budget"]*1.30) & (df["Profitability"] <= df["Budget"]*1.40)][['Movie',"Budget","Profitability","Year"]]

                                   Movie  Budget  Profitability  Year
0                           Spider-Man 3   258.0         345.30  2007
15                           Rush Hour 3   140.0         184.30  2007
49                           The Kingdom    80.0         108.32  2007
89               Dragon Wars (aka D-War)    75.0         100.14  2007
106                  The Incredible Hulk   137.5         191.58  2008
112                                 Bolt   150.0         206.65  2008
129  The Curious Case of Benjamin Button   160.0         208.71  2008
140                            Baby Mama    70.0          91.66  2008
222                        The Longshots    30.0          39.22  2008
458          Scott Pilgrim vs. the World    60.0          79.43  2010
500                         Tron: Legacy   170.0         235.33  2010
529                               Cars 2   200.0         279.93  2011
589                                Rango   135.0         182.02  2011
605                         Sucker Punch    82.0         109.50  2011
650                   X-Men: First Class   160.0         221.01  2011
763          Snow White and the Huntsman   170.0         233.29  2012
806                  Wrath of the Titans   150.0         203.51  2012
831                         Man of Steel   225.0         296.91  2013

In [ ]:
# how many movies which include Man in their names
df[df["Movie"].str.split(" ").apply(lambda x:"Man" in x )]

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
92,Iron Man,Paramount,94.0,91.0,Metamorphosis,Action,4105.0,98.62,24024.0,318.76,266.76,585.520,186.0,314.80,53.02,2008
119,Yes Man,Warner Bros,43.0,72.0,Transformation,Comedy,3434.0,18.26,5318.0,97.69,125.55,223.240,70.0,318.91,26.09,2008
284,"I Love You, Man",Paramount,83.0,72.0,Comedy,Comedy,2711.0,17.80,6570.0,71.40,20.20,91.400,40.0,228.50,44.50,2009
366,A Serious Man,Universal,89.0,64.0,Love,Drama,6.0,0.25,41890.0,9.23,22.20,31.430,7.0,448.99,3.57,2009
422,Iron Man 2,Paramount,74.0,80.0,Rivalry,Action,4380.0,128.10,29252.0,312.43,311.50,623.930,200.0,311.97,64.05,2010
464,Solitary Man,Independent,81.0,47.0,Wretched Excess,Comedy,4.0,0.09,23734.0,4.36,0.82,5.178,15.0,34.52,0.60,2010
724,Man on a Ledge,Summit,32.0,52.0,NaN,Action,2998.0,8.00,2669.0,18.62,27.60,46.220,42.0,110.05,19.05,2012
755,Searching for Sugar Man,Sony,NaN,NaN,NaN,NaN,3.0,0.03,9153.0,3.70,NaN,NaN,NaN,NaN,NaN,2012
823,Iron Man 3,Buena Vista,78.0,80.0,NaN,Action,4253.0,174.14,40946.0,409.01,806.43,1215.440,200.0,607.72,87.07,2013
831,Man of Steel,Warner Bros,55.0,76.0,NaN,Action,4207.0,116.62,27720.0,291.05,377.00,668.050,225.0,296.91,51.83,2013
894,The Best Man Holiday,Universal,67.0,90.0,NaN,NaN,2041.0,30.11,14751.0,70.53,1.10,71.630,17.0,421.32,177.12,2013
914,Delivery Man,Buena Vista,38.0,52.0,NaN,NaN,3036.0,7.94,2617.0,30.13,1.20,31.330,26.0,120.50,30.54,2013
931,Dead Man Down,FilmDistrict,38.0,48.0,NaN,NaN,2188.0,5.35,2443.0,10.90,7.18,18.070,NaN,NaN,NaN,2013

**Adding column to a DataFrame**

In [ ]:
df["Location"] = "USA"
df

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year,Location
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.10,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007,USA
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.60,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007,USA
2,Transformers,Paramount,57.0,89.0,Monster Force,Action,4011.0,70.50,17577.0,319.25,390.46,709.71,150.0,473.14,47.00,2007,USA
3,Pirates of the Caribbean: At World's End,Disney,45.0,74.0,Rescue,Action,4362.0,114.70,26302.0,309.42,654.00,963.42,300.0,321.14,38.23,2007,USA
4,Harry Potter and the Order of the Phoenix,Warner Bros,78.0,82.0,Quest,Adventure,4285.0,77.10,17998.0,292.00,647.88,939.89,150.0,626.59,51.40,2007,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,The Canyons,IFC,22.0,NaN,NaN,NaN,1.0,0.01,13351.0,0.06,0.14,0.19,NaN,77.21,NaN,2013,USA
966,The Call,TriStar,43.0,66.0,NaN,NaN,2507.0,17.12,6828.0,51.87,16.70,68.57,13.0,527.48,131.69,2013,USA
967,The English Teacher,Cinedigm Entertainment,42.0,NaN,NaN,NaN,2.0,0.01,3001.0,0.10,0.06,0.10,NaN,NaN,NaN,2013,USA
968,John Dies at the End,Magnolia,61.0,53.0,NaN,NaN,1.0,0.01,12467.0,0.14,NaN,0.14,1.0,14.20,1.00,2013,USA
969,Lovelace,Radius-TWC,55.0,37.0,NaN,Biography,118.0,0.18,1564.0,0.36,1.17,1.52,10.0,15.25,1.80,2013,USA

Important DataFrame methods

In [ ]:
# astype -> used to reduce the size of column data type
df["AudienceScore"] = df["AudienceScore"].astype('float32')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Movie             970 non-null    object
 1   LeadStudio        961 non-null    object
 2   RottenTomatoes    913 non-null    float64
 3   AudienceScore     907 non-null    float32
 4   Story             641 non-null    object
 5   Genre             691 non-null    object
 6   TheatersOpenWeek  949 non-null    float64
 7   OpeningWeekend    969 non-null    float64
 8   BOAvgOpenWeekend  945 non-null    float64
 9   DomesticGross     970 non-null    float64
 10  ForeignGross      876 non-null    float64
 11  WorldGross        914 non-null    float64
 12  Budget            897 non-null    float64
 13  Profitability     896 non-null    float64
 14  OpenProfit        895 non-null    float64
 15  Year              970 non-null    int64
 16  Location          970 non-null    object
dtypes: float32(1), float64(10), int64(1), object(5)
memory usage: 125.2+ KB

In [ ]:
# value_counts (Series & Dataframes) -> used to return count which row is repeated
df1.value_counts()

IQ  Marks  Salary
75  90     4000      1
85  95     6000      1
95  98     9000      1
Name: count, dtype: int64

In [ ]:
# sort_values() -> ascending
df.sort_values("Movie",ascending=False) # sorted based on movie names, ascending=False sorts in descending order
df.sort_values(['Year','Movie']) # sorting in ascending order based on multiple columns

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year,Location
57,30 Days of Night,Independent,50.0,57.0,Monster Force,Horror,2855.0,15.60,5587.0,39.57,35.94,75.50,32.0,235.95,48.75,2007,USA
9,300,Warner Bros,60.0,90.0,Sacrifice,Action,3103.0,70.90,22844.0,210.61,245.45,456.07,65.0,701.64,109.08,2007,USA
44,3:10 to Yuma,Lionsgate,88.0,85.0,sacrifice,Adventure,2652.0,14.00,5292.0,53.61,16.41,70.02,48.0,145.86,29.17,2007,USA
73,Across the Universe,Independent,54.0,84.0,Love,Romance,954.0,3.80,4009.0,24.34,5.02,29.37,45.0,65.26,8.44,2007,USA
53,Alien vs. Predator -- Requiem,Fox,14.0,37.0,Monster Force,Horror,2611.0,10.00,3853.0,41.80,87.09,128.88,40.0,322.21,25.00,2007,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,Walking with Dinosaurs,Fox,25.0,41.0,NaN,NaN,3243.0,7.09,2187.0,34.69,78.50,113.19,80.0,141.49,8.86,2013,USA
875,Warm Bodies,Summit,80.0,74.0,NaN,NaN,3009.0,20.35,6764.0,66.38,50.60,116.98,35.0,334.23,58.14,2013,USA
849,We're the Millers,Warner Bros,47.0,73.0,NaN,NaN,3445.0,26.42,7669.0,150.39,119.60,269.99,37.0,729.71,71.41,2013,USA
856,White House Down,Sony,50.0,63.0,NaN,NaN,3222.0,24.85,7713.0,73.10,132.26,205.37,150.0,136.91,16.57,2013,USA
834,World War Z,Paramount,67.0,73.0,NaN,NaN,3607.0,66.41,18412.0,202.36,337.65,540.01,190.0,284.21,34.95,2013,USA

In [ ]:
# rank() (Series only)

movieRank = df[["Movie","AudienceScore"]]
movieRank["MovieRank"] = movieRank["AudienceScore"].rank(ascending=False) # adding rank column to movieRank data frame
movieRank.sort_values("MovieRank") # sort based on rank

<ipython-input-5-8c5efef08772>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieRank["MovieRank"] = movieRank["AudienceScore"].rank(ascending=False) # adding rank column to movieRank data frame

                   Movie  AudienceScore  MovieRank
91       The Dark Knight           96.0        1.0
513                50/50           93.0        3.5
482    The King's Speech           93.0        3.5
421            Inception           93.0        3.5
645              Warrior           93.0        3.5
..                   ...            ...        ...
882        Lone Survivor            NaN        NaN
937             Paranoia            NaN        NaN
947  The Spectacular Now            NaN        NaN
965          The Canyons            NaN        NaN
967  The English Teacher            NaN        NaN

[970 rows x 3 columns]

In [ ]:
# sorting based on index either int index or labeled index
df1.sort_index(ascending=False,inplace=True)
df1

      IQ  Marks  Salary
Name
Sid   95     98    9000
Sam   85     95    6000
Ali   75     90    4000

In [ ]:
# set_index(DataFrame_column_name) -> inplace
movieRank.set_index("Movie",inplace=True)

In [ ]:
# reset_index() -> (Series & DataFrame)
movieRank.reset_index(inplace=True) # it resets the data frame labeled index to original/default form

In [ ]:
# how to replace existing index without loosing
movieRank.reset_index().set_index('MovieRank')

                                               Movie  AudienceScore
MovieRank
593.0                                   Spider-Man 3           54.0
527.5                                Shrek the Third           57.0
38.0                                    Transformers           89.0
223.0       Pirates of the Caribbean: At World's End           74.0
120.5      Harry Potter and the Order of the Phoenix           82.0
...                                              ...            ...
NaN                                      The Canyons            NaN
366.0                                       The Call           66.0
NaN                              The English Teacher            NaN
605.5                           John Dies at the End           53.0
837.5                                       Lovelace           37.0

[970 rows x 2 columns]

In [ ]:
type(movieRank.reset_index()) # it converts the Series into a Dataframe

pandas.core.frame.DataFrame

In [ ]:
# rename() -> (DataFrame) -> used to rename the column and labeled index names
movieRank.rename(columns={"AudienceScore":"AudienceRating"},inplace=True) # rename the column name

<ipython-input-6-7180c9fb0ec6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieRank.rename(columns={"AudienceScore":"AudienceRating"},inplace=True) # rename the column name

In [ ]:
movieRank.set_index("Movie",inplace=True)
movieRank.rename(index={"Spider-Man 3":"Spider 4"},inplace=True) # rename the labeled index

<ipython-input-17-abd09b0b7af6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movieRank.rename(index={"Spider-Man 3":"Spider 4"},inplace=True) # rename the labeled index

In [ ]:
movieRank.reset_index(inplace=True)

In [ ]:
# unique() -> (Series) -> returns the unique value, note: also count missing value as unique
movieRank["AudienceRating"].unique()

# nunique() -> returns the total num of missing values
movieRank["AudienceRating"].nunique()

73

In [ ]:
# isnull() -> used to check how many missing values in Series and DataFrame, note: ~isnull() refers to notnull
movieRank['AudienceRating'][movieRank['AudienceRating'].isnull()]

# or .loc()
movieRank.loc[movieRank['AudienceRating'].isnull(), 'AudienceRating']

0      54.0
1      57.0
2      89.0
3      74.0
4      82.0
       ...
963    78.0
964    79.0
966    66.0
968    53.0
969    37.0
Name: AudienceRating, Length: 907, dtype: float64

In [ ]:
# hasnans (Series) -> this attribute is used to tell if there is any missing value in the series or not
movieRank['Movie'].hasnans

False

In [ ]:
# dropna() (Series & DataFrame) -> used to remove the rows with missing values
movieRank.dropna()

                                         Movie  AudienceRating  MovieRank
0                                     Spider 4            54.0      593.0
1                              Shrek the Third            57.0      527.5
2                                 Transformers            89.0       38.0
3     Pirates of the Caribbean: At World's End            74.0      223.0
4    Harry Potter and the Order of the Phoenix            82.0      120.5
..                                         ...             ...        ...
963                     Much Ado About Nothing            78.0      172.0
964                                 The Butler            79.0      159.0
966                                   The Call            66.0      366.0
968                       John Dies at the End            53.0      605.5
969                                   Lovelace            37.0      837.5

[907 rows x 3 columns]

In [ ]:
movieRank.dropna(how='all') # removes the rows where all the missing values

                                         Movie  AudienceRating  MovieRank
0                                     Spider 4            54.0      593.0
1                              Shrek the Third            57.0      527.5
2                                 Transformers            89.0       38.0
3     Pirates of the Caribbean: At World's End            74.0      223.0
4    Harry Potter and the Order of the Phoenix            82.0      120.5
..                                         ...             ...        ...
965                                The Canyons             NaN        NaN
966                                   The Call            66.0      366.0
967                        The English Teacher             NaN        NaN
968                       John Dies at the End            53.0      605.5
969                                   Lovelace            37.0      837.5

[970 rows x 3 columns]

In [ ]:
movieRank.dropna(subset=["AudienceRating"]) # removes the all rows based on missing values in AudienceRating

                                         Movie  AudienceRating  MovieRank
0                                     Spider 4            54.0      593.0
1                              Shrek the Third            57.0      527.5
2                                 Transformers            89.0       38.0
3     Pirates of the Caribbean: At World's End            74.0      223.0
4    Harry Potter and the Order of the Phoenix            82.0      120.5
..                                         ...             ...        ...
963                     Much Ado About Nothing            78.0      172.0
964                                 The Butler            79.0      159.0
966                                   The Call            66.0      366.0
968                       John Dies at the End            53.0      605.5
969                                   Lovelace            37.0      837.5

[907 rows x 3 columns]

In [ ]:
movieRank.dropna(subset=["AudienceRating","Movie"]) # removes the rows either if AudienceRating or Movie has missing values

                                         Movie  AudienceRating  MovieRank
0                                     Spider 4            54.0      593.0
1                              Shrek the Third            57.0      527.5
2                                 Transformers            89.0       38.0
3     Pirates of the Caribbean: At World's End            74.0      223.0
4    Harry Potter and the Order of the Phoenix            82.0      120.5
..                                         ...             ...        ...
963                     Much Ado About Nothing            78.0      172.0
964                                 The Butler            79.0      159.0
966                                   The Call            66.0      366.0
968                       John Dies at the End            53.0      605.5
969                                   Lovelace            37.0      837.5

[907 rows x 3 columns]

In [ ]:
# fillna() (Series & DataFrame)
movieRank['AudienceRating'].fillna(0) # fill the missing values with 0, AudienceRating column
movieRank['AudienceRating'].fillna(movieRank['AudienceRating'].mean()) # fill the missing value with mean value

0      54.000000
1      57.000000
2      89.000000
3      74.000000
4      82.000000
         ...
965    61.271224
966    66.000000
967    61.271224
968    53.000000
969    37.000000
Name: AudienceRating, Length: 970, dtype: float64

In [ ]:
# drop_duplicates(Series & Dataframe)

,Movie,LeadStudio,RottenTomatoes,AudienceScore,Story,Genre,TheatersOpenWeek,OpeningWeekend,BOAvgOpenWeekend,DomesticGross,ForeignGross,WorldGross,Budget,Profitability,OpenProfit,Year
0,Spider-Man 3,Sony,61.0,54.0,Metamorphosis,Action,4252.0,151.1,35540.0,336.53,554.34,890.87,258.0,345.30,58.57,2007
1,Shrek the Third,Paramount,42.0,57.0,Quest,Animation,4122.0,121.6,29507.0,322.72,476.24,798.96,160.0,499.35,76.00,2007

In [ ]:
# drop(series & dataframe) -> used to delete rows and column
df1.drop(index=["Ali"]) # deletes a row based on labeled index

      IQ  Marks  Salary
Name
Sam   85     95    6000
Sid   95     98    9000

In [ ]:
df1.drop(columns=['Marks','Salary']) # deletes the columns specified in the columns list

      IQ
Name
Ali   75
Sam   85
Sid   95

In [ ]:
# apply(series & dataframe)

points = {
    '1st point':[(3,4),(4,5),(5,6),(4,4)],
    '2nd point':[(3,4),(4,3),(5,9),(5,5)]
}

p = pd.DataFrame(points)
p

def euclidean(p1,p2):
  return ((p1[0]-p2[0])**2 + (p1[1]-p2[1])**2)**0.5


p['distance'] = p.apply(lambda row: euclidean(row['1st point'],row['2nd point']),axis=1)
p

  1st point 2nd point  distance
0    (3, 4)    (3, 4)  0.000000
1    (4, 5)    (4, 3)  2.000000
2    (5, 6)    (5, 9)  3.000000
3    (4, 4)    (5, 5)  1.414214

# **Groupby Object**

In [ ]:
import pandas as pd
import numpy as np
movies = pd.read_csv('/content/imdb-top-1000.csv')
movies.head(2)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0

In [ ]:
genres = movies.groupby("Genre")

In [ ]:
genres

In [ ]:
# applying builtin aggregation functions on groupby objects such as sum,mean,min,max
genres.min()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985.0,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877.0,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600.0,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [ ]:
# find out the top 3 genre which earns high profit at boxoffice
genres["Gross"].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [ ]:
# find out the genre with highest avg imdb rating
genres["IMDB_Rating"].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [ ]:
# find director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [ ]:
# find num of movies done by each actor using group by
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks            12
Robert De Niro       11
Clint Eastwood       10
Al Pacino            10
Leonardo DiCaprio     9
                     ..
Gérard Jugnot         1
Günes Sensoy          1
Haluk Bilginer        1
Harriet Andersson     1
Graham Chapman        1
Name: Runtime, Length: 660, dtype: int64

In [ ]:
# find out how many goups have been formed
len(movies.groupby('Genre'))

14

In [ ]:
# find how many rows/recored each group contains
movies.groupby("Genre").size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [ ]:
# find first or last movie of each group
genres = movies.groupby('Genre')
genres.last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [ ]:
# geting all the recored a group contains
genres.get_group("Family")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0

In [ ]:
# groups -> an attribute, returns a dict with all the index of records each group contains
genres.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [ ]:
# describe -> used to describe the overall summary of each group
genres.describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [ ]:
genres.sample() # randomly shows the movies of each group

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
641,Gongdong gyeongbi guyeok JSA,2000,110,Action,7.8,Chan-wook Park,Lee Yeong-ae,26518,147161249.0,58.0
873,The African Queen,1951,105,Adventure,7.7,John Huston,Humphrey Bogart,71481,536118.0,91.0
596,Toy Story 4,2019,100,Animation,7.8,Josh Cooley,Tom Hanks,203177,434038008.0,84.0
770,Control,2007,122,Biography,7.7,Anton Corbijn,Sam Riley,61609,871577.0,78.0
760,Flipped,2010,90,Comedy,7.7,Rob Reiner,Madeline Carroll,81446,1752214.0,45.0
802,Training Day,2001,122,Crime,7.7,Antoine Fuqua,Denzel Washington,390247,76631907.0,69.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
707,The Innocents,1961,100,Horror,7.8,Jack Clayton,Deborah Kerr,27007,2616000.0,88.0
119,Vertigo,1958,128,Mystery,8.3,Alfred Hitchcock,James Stewart,364368,3200000.0,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [ ]:
genres.nunique() # gives the uniques valus for each group

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [ ]:
# aggregate functions specific to each of the columns
movies.groupby('Genre').agg({
    'Runtime':['max','max'],
    'No_of_Votes':'sum',
    'IMDB_Rating':['mean','std']

})

          Runtime      No_of_Votes IMDB_Rating
              max  max         sum        mean       std
Genre
Action        321  321    72282412    7.949419  0.304258
Adventure     228  228    22576163    7.937500  0.229781
Animation     137  137    21978630    7.930488  0.253221
Biography     209  209    24006844    7.938636  0.267140
Comedy        188  188    27620327    7.901290  0.228771
Crime         229  229    33533615    8.016822  0.335477
Drama         242  242    61367304    7.957439  0.267229
Family        115  115      551221    7.800000  0.000000
Fantasy        94   94      146222    8.000000  0.141421
Film-Noir     108  108      367215    7.966667  0.152753
Horror        122  122     3742556    7.909091  0.311302
Mystery       138  138     4203004    7.975000  0.310791
Thriller      108  108       27733    7.800000       NaN
Western       165  165     1289665    8.350000  0.420317

In [ ]:
# aggregaring based on list operations for each column
movies.groupby('Genre').agg(['min','max','sum'])

                              Series_Title  \
                                       min
Genre
Action                                 300
Adventure            2001: A Space Odyssey
Animation                            Akira
Biography                 12 Years a Slave
Comedy                (500) Days of Summer
Crime                         12 Angry Men
Drama                                 1917
Family          E.T. the Extra-Terrestrial
Fantasy       Das Cabinet des Dr. Caligari
Film-Noir                Shadow of a Doubt
Horror                               Alien
Mystery                          Dark City
Thriller                   Wait Until Dark
Western    Il buono, il brutto, il cattivo

                                                \
                                           max
Genre
Action                                 Yôjinbô
Adventure                           Zombieland
Animation          Ôkami kodomo no Ame to Yuki
Biography                              Zerkalo
Comedy                Zindagi Na Milegi Dobara
Crime                        À bout de souffle
Drama                                Zwartboek
Family     Willy Wonka & the Chocolate Factory
Fantasy                              Nosferatu
Film-Noir                        The Third Man
Horror                               The Thing
Mystery                                Vertigo
Thriller                       Wait Until Dark
Western                 The Outlaw Josey Wales

                                                             Released_Year  \
                                                         sum           min
Genre
Action     The Dark KnightThe Lord of the Rings: The Retu...          1924
Adventure  InterstellarBack to the FutureInglourious Bast...          1925
Animation  Sen to Chihiro no kamikakushiThe Lion KingHota...          1940
Biography  Schindler's ListGoodfellasHamiltonThe Intoucha...          1928
Comedy     GisaengchungLa vita è bellaModern TimesCity Li...          1921
Crime      The GodfatherThe Godfather: Part II12 Angry Me...          1931
Drama      The Shawshank RedemptionFight ClubForrest Gump...          1925
Family     E.T. the Extra-TerrestrialWilly Wonka & the Ch...          1971
Fantasy                Das Cabinet des Dr. CaligariNosferatu          1920
Film-Noir   The Third ManThe Maltese FalconShadow of a Doubt          1941
Horror     PsychoAlienThe ThingThe ExorcistNight of the L...          1933
Mystery    MementoRear WindowVertigoShutter IslandKahaani...          1938
Thriller                                     Wait Until Dark          1967
Western    Il buono, il brutto, il cattivoOnce Upon a Tim...          1965

                                                                   Runtime  \
            max                                                sum     min
Genre
Action     2019  2008200320102001200219991980197719621954200019...      45
Adventure    PG  2014198520091981196819621959201319751963194819...      88
Animation  2020  2001199419882016201820172008199719952019200920...      71
Biography  2020  1993199020202011200220171995198420182013201320...      93
Comedy     2020  2019199719361931200919641940200120001973196019...      68
Crime      2019  1972197419571994200219991995199120192006199519...      80
Drama      2020  1994199919941975202019981946201420061998198819...      64
Family     1982                                           19821971     100
Fantasy    1922                                           19201922      76
Film-Noir  1949                                       194919411943     100
Horror     2017       19601979198219731968196120171978193320042001      71
Mystery    2012   200019541958201020121995197219381988201219981997      96
Thriller   1967                                               1967     108
Western    1976                                   1966196819651976     132

                      IMDB_Rating  ...  \
           max    sum         min  ...
Genre                              ...
Action     321  22196         7.6  ...
Adventure  228   9656         7.6  ...
Animation  137   8166         7.6  ...
Biography  209  11970         7.6  ...
Comedy     188  17380         7.6  ...
Crime      229  13524         7.6  ...
Drama      242  36049         7.6  ...
Family     115    215         7.8  ...
Fantasy     94    170         7.9  ...
Film-Noir  108    312         7.8  ...
Horror     122   1123         7.6  ...
Mystery    138   1429         7.6  ...
Thriller   108    108         7.8  ...
Western    165    593         7.8  ...

                                                       Star1 No_of_Votes  \
                                                         sum         min
Genre
Action     Christian BaleElijah WoodLeonardo DiCaprioElij...       25312
Adventure  Matthew McConaugheyMichael J. FoxBrad PittJürg...       29999
Animation  Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...       25229
Biography  Liam NeesonRobert De NiroLin-Manuel MirandaÉri...       27254
Comedy     Kang-ho SongRoberto BenigniCharles ChaplinChar...       26337
Crime      Marlon BrandoAl PacinoHenry FondaJohn Travolta...       27712
Drama      Tim RobbinsBrad PittTom HanksJack NicholsonSur...       25088
Family                               Henry ThomasGene Wilder      178731
Fantasy                             Werner KraussMax Schreck       57428
Film-Noir           Orson WellesHumphrey BogartTeresa Wright       59556
Horror     Anthony PerkinsSigourney WeaverKurt RussellEll...       27007
Mystery    Guy PearceJames StewartJames StewartLeonardo D...       33982
Thriller                                      Audrey Hepburn       27733
Western    Clint EastwoodHenry FondaClint EastwoodClint E...       65659

                                    Gross                             \
               max       sum          min          max           sum
Genre
Action     2303232  72282412       3296.0  936662225.0  3.263226e+10
Adventure  1512360  22576163      61001.0  874211619.0  9.496922e+09
Animation   999790  21978630     128985.0  873839108.0  1.463147e+10
Biography  1213505  24006844      21877.0  753585104.0  8.276358e+09
Comedy      939631  27620327       1305.0  886752933.0  1.566387e+10
Crime      1826188  33533615       6013.0  790482117.0  8.452632e+09
Drama      2343110  61367304       3600.0  924558264.0  3.540997e+10
Family      372490    551221    4000000.0  435110554.0  4.391106e+08
Fantasy      88794    146222  337574718.0  445151978.0  7.827267e+08
Film-Noir   158731    367215     449191.0  123353292.0  1.259105e+08
Horror      787806   3742556      89029.0  298791505.0  1.034649e+09
Mystery    1129894   4203004    1035953.0  474203697.0  1.256417e+09
Thriller     27733     27733   17550741.0   17550741.0  1.755074e+07
Western     688390   1289665    5321508.0   31800000.0  5.822151e+07

          Metascore
                min    max      sum
Genre
Action         33.0   98.0  10499.0
Adventure      41.0  100.0   5020.0
Animation      61.0   96.0   6082.0
Biography      48.0   97.0   6023.0
Comedy         45.0   99.0   9840.0
Crime          47.0  100.0   6706.0
Drama          28.0  100.0  19208.0
Family         67.0   91.0    158.0
Fantasy         NaN    NaN      0.0
Film-Noir      94.0   97.0    287.0
Horror         46.0   97.0    880.0
Mystery        52.0  100.0    633.0
Thriller       81.0   81.0     81.0
Western        69.0   90.0    313.0

[14 rows x 27 columns]

In [ ]:
# apply -> split,apply,combine
# find the num of movies starts with A

# movies[movies['Series_Title'].str.startswith("A")]  // simple approach

# using apply method
def func(group):
  return group['Series_Title'].str.startswith('A').sum()

movies.groupby('Genre').apply(func)

<ipython-input-4-c4f3f260975e>:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  movies.groupby('Genre').apply(func)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [1]:
# import ipl dataset for practice
import pandas as pd
ipl = pd.read_csv('/content/deliveries.csv')
ipl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [3]:
# find the top 10 batsman in terms of runs
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [5]:
# find the batsman with max num of sixes
sixes = ipl[ipl['batsman_runs']==6] # first filters the dataset to get only sixes by each player

# make groups based on batsman, then select/focus the batsman column from each group and counts the non-null values in each group’s 'batsman' column.
sixes.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1)

batsman
CH Gayle    327
Name: batsman, dtype: int64

In [11]:
# find batsman with most 4's and 6's in the last 5 over
last_over = ipl[ipl['over']>15] # filtering to get the dataset of last 5 overs
last_over = last_over[(last_over['batsman_runs']==6) | (last_over['batsman_runs']==4)] # filtering to get only 4 and 6 run data in the last over
last_over.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1)

batsman
MS Dhoni    340
Name: batsman, dtype: int64

In [15]:
# find Virat's run record against all teams
temp_df = ipl[ipl['batsman']=='V Kohli']
temp_df.groupby('bowling_team')['batsman_runs'].sum()

bowling_team
Chennai Super Kings        749
Deccan Chargers            306
Delhi Capitals              66
Delhi Daredevils           763
Gujarat Lions              283
Kings XI Punjab            636
Kochi Tuskers Kerala        50
Kolkata Knight Riders      675
Mumbai Indians             628
Pune Warriors              128
Rajasthan Royals           370
Rising Pune Supergiant      83
Rising Pune Supergiants    188
Sunrisers Hyderabad        509
Name: batsman_runs, dtype: int64